<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Compatibility" version="1.1.1" targetFramework="net461" developmentDependency="true" />
  <package id="Dragablz" version="0.0.3.234" targetFramework="net461" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.5" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.2" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
  <package id="ZUI" version="1.0.8" targetFramework="net461" developmentDependency="true" />
</packages>